apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 37.2.0
    helm:
      releaseName: traefik
      valuesObject:
        service:
          type: LoadBalancer
          loadBalancerIP: "172.22.255.1"
        ports:
          web:
            port: 80
          websecure:
            port: 443
        deployment:
          replicas: 1
        logs:
          general:
            level: INFO
          access:
            enabled: true
        providers:
          kubernetesIngress:
            publishedService:
              enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
